.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.idea/
.vscode/
*.swp
*.swo
*~
tests/
docs/
README.md 
.DS_Store
frontend/
_photos/
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
